/* For IE compatibility */
body {
    behavior: url('csshover3.htc');
}

.css_menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	 
}

.css_menu ul li {
	float: left;
	margin: 0px;
	padding: 0px;
	background:white url(../img/portal/bg-col-menu-off.jpg) bottom;
	width: 194px;
	border-left:5px solid #cfe4f1;
	height: 32px;
}

.css_menu ul li a {
	display: block;
	/*font-size: 12px;*/
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	text-decoration: none;
	white-space: nowrap;
	
	
}

.css_menu ul li:hover {
	float: left;
	margin: 0px;
	padding: 0px;
	background: white url(../img/portal/bg-col-menu-on.jpg) no-repeat left bottom;
	width: 194px;
	
	height: 32px;
}

.css_menu ul li .css_submenu {
	position: absolute;
	display: none;
	margin: 0;
	padding-left: 194px;
	
   
	
}

.css_menu ul li:hover .css_submenu {
	display: block;
	/*background-color: lime;*/
}

.css_menu ul li .css_submenu ul {
	list-style: none;
	position: relative;
	/*top: 5px;
	left: -5px;*/
	margin: 0px;
	margin-top: -30px;
	margin-bottom: 0px;
	padding: 0px;
	/*border: 1px solid #ccc;*/
	/*border-left:5px solid lime;#cfe4f1;*/
	/*background-color: #fff;background-color: lime;*/
}
.css_submenu li:hover {
	/*background-color: lime;*/
}
.css_submenu ul li a{
	display: block;
	/*font-size: 12px;*/
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	text-decoration: none;
	white-space: nowrap;
	}
	
.css_submenu ul li a:hover{
   margin-bottom: 0px;
	/*padding-bottom: -50px;*/
	
	background: white url(../img/portal/bg-col-menu-on.jpg) no-repeat left bottom;
}
.css_menu ul li .css_submenu ul li {
	float: none;
	border-left:5px solid #cfe4f1;
	/*margin: 4px 0px 0px 0px;*/
	/*padding: 0px;*/
	height: 35px;
	border-bottom: 1px;
	margin-bottom: -3px;
	padding-bottom: 0px;
	background: white  url(../img/portal/bg-col-menu-off.jpg)  left bottom;
}

.css_menu ul li .css_submenu ul li:first-child {
	margin: 0px;
	margin-bottom: -3px;
	height: 35px;
	background-color: white;
}

.css_menu_template ul li {
	background:white url(../img/portal/bg-col-menu-off.jpg) bottom;
	width: auto;
	border-left:5px solid #cfe4f1;
	height: auto;
}

.css_menu_template ul li:hover {
	background: white url(../img/portal/bg-col-menu-on.jpg) no-repeat left bottom;
	width: auto;
	height: auto;
}