/*MENU*/

ul#topnav {
	margin: 0; padding: 0;
	list-style: none;
	font-size: 16px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width:599px;
}

ul#topnav li {
	float: left;
	margin-right:5px;
	position: relative;	
}

ul#topnav li a {
	float: left; 
	height:20px;	
}

ul#topnav li .sub {
	position: absolute;	
	top: 20px; left: 0;
	background-color: #086aa6;
	padding: 20px 10px;
	float: left;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
	z-index: 99999;
}

ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 161px;
	float: left;
}
ul#topnav .sub ul li {
	width: 100%;
	color: #000;
    border-right: medium none;	
}

ul#topnav .sub ul li a {
	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	height: auto;
	padding: 7px 5px 7px 10px;
	display: block;
	text-decoration: none;
	font-size:13px;
	line-height:13px;
	color:#fff;
}
ul#topnav .sub ul li a:hover {color: #ddd;}

.portletHeader {
    margin: 40px 0px 0px;
    padding-bottom: 18px !important;
    color: #005395 !important;
    font-weight: normal !important;
    background: none !important;
    font: 20px Tahoma,Arial,Helvetica,sans-serif !important;
    text-transform: none !important;
}
